/project2/target/
/project3/target/
/project4/target/
/clases/06_04_FBooleana/target/
/clases/01_03_SalidaEstandar2/target/
/clases/01_04_LecturaDeNumeros/target/
/clases/01_05_CalculosSimples/target/
/clases/01_06_DivisionEntera/target/
/clases/01_07_Inferencia/target/
/clases/01_08_EscapeChars/target/
/clases/06_06_PasajeParametros/target/
/clases/06_08_ParametrosArray-String/target/
/proyectos/project5/target/
/clases/07_03_RuleSwitch/target/
/clases/07_04_ArregloConTope/target/
